.success {
  color: green;
}

.danger {
  color: red;
}

.thumbnail > img {
  height: 250px;
  width: 300px;
}

.thumbnail {
  margin-top: 30px;
  box-shadow: 0 0 5px 10px #696969;
}

.pong {
  width: 400px;
  height: 400px;
  border: solid 2px #000;
}

.margin-top {
  margin-top: 50px;
}

.score {
  margin-top: 50px;
  font-size: 120px;
}

#reset {
  margin: 30px;
}