.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.post {
  height: 200px;
  width: 100%;
  border: solid 2px #000;
  border-radius: 10px;
}

.thumbnail > img {
  height: 150px;
  width: 100%;
}

.thumbnail {
  margin-top: 20px;
  margin-bottom: 0px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  font-size: 20px;
  padding: 0px;
}

.glyphicon.btn:hover {
  color: #8c668c;
}

.clear {
    clear: both;
}