.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.post {
  height: 100%;
  width: 100%;
  border: solid 1px #000;
  border-radius: 10px;
  background-color: #efebe8;
  box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.thumbnail > img {
  height: 150px;
  width: 100%;
}

.thumbnail {
  margin-top: 20px;
  margin-bottom: 0px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  font-size: 20px;
}

.glyphicon.btn:hover {
  color: #fff;
  background-color: #000;
}

.glyphicon {
  padding: 0px;
}

.clear {
    clear: both;
}

.votes {
  margin-left: 10px;
  font-size: 25px;
}

.red {
  color: #e74c3c;
}

.green {
  color: #637d49;
}

.invalid {
  border-color: #e74c3c;
}



